.product-container {
  display: flex;
  color: aliceblue;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px white;
  border-radius: 20px;
  margin-right: 5px;
  cursor: pointer;
}
