.imagePreview {
  width: 300px;
}
.editBtn {
  background: none;
  border: none;
  color: blue;
  font-weight: 700;
  cursor: pointer;
}
.multiple-form-images-container {
  display: flex;
  flex-wrap: wrap;
}
.multiple-form-images-preview {
  width: 150px;
}
