h1 {
  font-family: "Gill Sans MT", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

h2 {
  font-family: "Gill Sans MT", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: normal;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.privacy {
  font-family: "Gill Sans MT Pro", sans-serifb;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: unset;
  color: black;
}

.Privacy {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
}
