.userProfile {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.firstContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
}

.firstContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}
.firstContainer span {
  display: flex;
  justify-content: center;
}
.userInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: baseline;
}

.userInfo h2 {
  font-size: 24px;
}

.ratings {
  display: flex;
  align-items: center;
}

.ratings .fa-star {
  color: #ff9900;
}

.ratings span {
  margin-left: 5px;
  /* color: #999; */
}

.location {
  display: flex;
  align-items: self-end;
}

.location i {
  color: #999;
}

.containerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* .editContainer {
  flex-basis: 48%;
} */

.editContainer div {
  font-size: 30px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  width: 50vw;
}

.editContainer h3 {
  font-size: 17px;
  font-weight: 400;
  min-width: 150px;
}
.editContainer span {
  width: 90px;
  color: black;
}
button.editBtn {
  color: black;
}

textarea {
  width: 30vw;
  /* height: 150px; */
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  cursor: default;
}
.editContainer h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.editContainer .editButton {
  background-color: #a99d8a;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.salesItem {
  flex-basis: 30%;
  text-align: center;
}
div.userInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "name"
    "edit"
    "stars";
  gap: 0;
}
div.userInfo h2 {
  grid-area: name;
}
div.userInfo div {
  grid-area: stars;
}
div.userInfo span {
  grid-area: edit;
}

@media (width<=820px) {
  div.individualContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "h3 edit"
      "textarea textarea";
    width: 90vw;
  }
  div.individualContainer h3 {
    grid-area: h3;
  }
  div.individualContainer textarea {
    grid-area: textarea;
    max-width: none;
    width: auto;
  }
  div.invidualContainer span {
    grid-area: edit;
  }
  div.editContainer {
    width: 100%;
  }
}
