.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  height: 100%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.product-carousel {
  position: relative;
  overflow: hidden;
  max-width: 300px;
  margin-bottom: 15px;
}

.product-image {
  width: 100%;
  height: 200px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rating {
  color: #fec810;
}

.product-price {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.product-buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.buy-button {
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  background-color: #1c1c1c;
  color: #fff;
  border: transparent;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.buy-button:hover {
  background-color: #636262;
}

.fav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.favorite {
  color: red;
}

.chat-button:hover {
  background-color: #636262;
}
.related-products {
  margin-bottom: 15px;
}
.chat-button {
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  background-color: #1c1c1c;
  color: #fff;
  border: transparent;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
