.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.product-carousel {
  position: relative;
  overflow: hidden;
  max-width: 300px;
  margin-bottom: 15px;
}

.product-image {
  width: 100%;
  height: 200px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .product-rating {
    "Estrellitas iconos"
} */

.product-price {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.product-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  
  .product-buttons button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 14px;
    background-color: #1c1c1c;
    color: #fff;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  
  .product-buttons button:hover {
    background-color: #d8d5d5;
    color: #111;
  }
  
  .product-buttons button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d8d5d5;
    color: #111;
    opacity: 0;
    transition: opacity 0.7s ease;
    z-index: -1;
  }

  .product-buttons button:hover::before,
.product-buttons button:focus::before {
  left: 0;
  opacity: 1;
}

.product-buttons button:hover,
.product-buttons button:focus {
  background-color: transparent;
} */
  

.related-products {
  margin-bottom: 15px;
}

.seller-ratings {
    margin-top: 15px;
}
