header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  border-bottom: 1px black solid;
  position: sticky;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
}

.headerNav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 8px;
}
.headerNav button {
  border: none;
  background-color: white;
  color: none;
}
