.navbarLateral {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: white;
  width: 220px;
  height: 100vh;
  display: flex;
  border-left: black solid 1px;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}
.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-menu-items > ul > li {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  padding: 0 16px;
  border-radius: 4px;
  border: solid black 1px;
}
.nav-menu-items > ul > li > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
