footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: nowrap;
  width: 100vw;
  height: 270px;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px black solid;
  gap: 3rem;
  background-color: white;
}

nav {
  width: max-content;
}
.firstList {
  display: flex;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;

  gap: 2rem;
}
.firstList > li {
  padding: 0 16px;
}
.firstList ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}
