* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100px;
  bottom: 0;
  border-top: 1px black solid;
  padding-left: 20px;
  padding-right: 20px;
  gap: 3rem;
}

.navprincipal {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.principal {
  display: flex;
  list-style: none;
  color: black;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.principal > li {
  padding: 0 16px;
}
.principal ul {
  display: flex;
  gap: 5px;
  color: black;
  list-style: none;
  flex-direction: column;
}

.navRRSS ul {
  display: flex;

  list-style: none;
  flex-direction: row;
  height: 10 px;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  gap: 50px;
}

.navTerms ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10px;
  list-style: none;
  list-style-type: none;
  gap: 60px;
  flex-direction: row;
}

.inc span {
  display: flex;
  height: 10%;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  list-style: none;
  list-style-type: none;
  color: white;
  flex-direction: row;
}

footer h4 {
  margin-bottom: 10px;
}

@media (width<=820px) {
  .navTerms ul {
    gap: 10px;
  }
}
