* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100px;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  gap: 3rem;
  background-color: transparent;
}

.navFooterVarios {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.firstList {
  display: flex;
  list-style: none;
  color: white;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.firstList > li {
  padding: 0 16px;
}
.firstList ul {
  display: flex;
  gap: 5px;
  color: white;
  list-style: none;
  flex-direction: column;
}

.navFooterRRSS ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navFooterTerms ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  list-style-type: none;
  gap: 60px;
  flex-direction: row;
}

p {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  list-style: none;
  list-style-type: none;

  flex-direction: row;
}

h4 {
  margin-bottom: 10px;
}


