footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 270px;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px black solid;
  gap: 3rem;
  background-color: white;
}

.navFooterVarios {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.firstList {
  display: flex;
  list-style: none;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.firstList > li {
  padding: 0 16px;
}
.firstList ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.navFooterRRSS ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navFooterTerms ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  list-style-type: none;
  gap: 60px;
  flex-direction: row;
}
