html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: auto;
  min-height: 100%;
}
