* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: auto;
  min-height: 100%;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  margin-left: 60px;
  background-color: white;
  border-radius: 2000px;
  box-shadow: 0 2px 4px silver;
  padding: 8px 12px;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 8px;
  padding-right: 10px;
  font-size: 16px;
  background-color: transparent;
}

.icon-search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.icon-search svg {
  fill: #000; /* Color del icono */
  width: 100%;
  height: 100%;
  background: none; /* Elimina el fondo del SVG */
  border: none; /* Elimina el borde del SVG */
  outline: none; /* Elimina el contorno del SVG */
}
